.BroadTitle {
  font-size: 36px;
  display: block;
  margin: 18px 0;
  font-weight: 700;
  color: rgb(206, 110, 39);
  text-align: center;
  border-color: rgb(206, 110, 39);
  background: rgb(10, 10, 10) none repeat scroll 0 0;
  padding: 7px;
  letter-spacing: 2px;
  border-style: double none;
}