header {
  grid-area: 1 / 1 / 2 / 4;
  display: flex;
  flex-direction: column;
  border: 4px solid #000;
  align-items: center;
  justify-content: center;
  margin: 8px 8px auto 8px; }

h1 {
  align-items: center;
  justify-content: center; }

nav {
  border: 2px solid #000;
  border-bottom: 0;
  text-align: center; }

nav ul {
  display: inline-flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0; }
  nav ul li a {
    display: block;
    padding: 16px 48px;
    opacity: .9;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
    color: #573429;
    -webkit-transition: ease 0.1s;
    -moz-transition: ease 0.1s;
    -ms-transition: ease 0.1s;
    -o-transition: ease 0.1s;
    transition: ease 0.1s; }
  nav ul li a:hover {
    background-color: black;
    color: #ceae97;
    opacity: 1;
    -webkit-transition: ease 0.5s;
    -moz-transition: ease 0.5s;
    -ms-transition: ease 0.5s;
    -o-transition: ease 0.5s;
    transition: ease 0.5s; }
