.sections-wrapper {
  grid-area: 2 / 3 / 3 / 4;
  text-align: center;
  border: 4px solid #000;
  background-color: #1b1b1b;
  border-bottom: none; }

.sections {
  display: inline-flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  transition: ease 0.1s; }

.sectionListElement div {
  display: block;
  font-size: 16px;
  padding: 12px 5px;
  color: #573429;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer; }
  .sectionListElement div:hover {
    background-color: #000;
    opacity: .9;
    color: #ce6e27;
    transition: ease 0.5s; }
